/* Add some basic styling */
.movie-list {
    max-width: 900px;
    margin: 20px auto;
   }
   .search-section {
    margin-bottom: 20px
}
.sort-section {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
table {
 width: 100%;
}
th, td {
 text-align: left;
 padding: 10px;
}
button {
 margin: 5px;
}
button:disabled {
 opacity: 0.5;
}